<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<head th:include="partials/head :: header-links (Create-Album)"/>-->
<head>
    <!--    <meta charset="UTF-8">-->
    <!--    <title>Item Assignment Page</title>-->

    <!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <!--    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}">-->
    <!--    <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js}"></script>-->
    <!--    <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js}"></script>-->
    <!--    <script th:src="@{https://kit.fontawesome.com/8d58347b96.js}" crossorigin="anonymous"></script>-->
    <!--    <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/96751468e5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
    <script src="https://static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
    <title>Create Album</title>


    <!--    CSS FILES-->
    <link th:href="@{/css/fontawesome.css}" rel="stylesheet">
    <link th:href="@{/css/index.css}" rel="stylesheet">
    <link th:href="@{/css/owl.css}" rel="stylesheet">
</head>
<body>

<div id="pre-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span>DIVIDE YOUR BELONGINGS WITH US!</span>
            </div>
        </div>
    </div>
</div>
<div th:replace="partials/navbar :: navbar"></div>


<div class="container mt-5">
    <h3>Create Album</h3>

    <form th:action="@{/albums/create}" th:method="POST">
        <div class="form-group">
            <label for="title">Album Title</label>
            <input type="text" class="form-control" id="title" name="title" maxlength="50" required autofocus>
        </div>
        <div class="form-group">
            <label for="title">Album Lineage</label>
            <input type="text" class="form-control" id="lineage" name="lineage" maxlength="50" required autofocus>
        </div>
        <div class="form-group">
            <label for="description">Album Description</label>
            <textarea class="form-control" id="description" name="description" required></textarea>
        </div>
        <div id="files"></div>
        <input type="hidden" id="images" value="" name="images">
        <input type="hidden" id="file-type" value="" name="file-type">
        <button id="upload" class="btn btn-secondary">Upload Images</button>
        <button class="btn btn-primary">Save Album</button>
    </form>
</div>
<div th:replace="partials/scripts :: assets"></div>

<!-- OPTIONAL JAVASCRIPT -->
<!-- jQUERY FIRST, THEN POPPER.JS, THEN BOOTSTRAP JS -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>-->

</body>
<!--<footer th:replace="partials/footer :: footer"/>-->
</html>