<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: header-links (Album)"/>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<main class="container">
    <div>
        Album: <span th:text="${album.title}"></span>
    </div>
    <div>
        Album description: <span th:text="${album.description}"></span>
    </div>
    <div>
        Album lineage: <span th:text="${album.lineage}"></span>
    </div>
    <div>
        Album deadline: <span th:text="${album.deadline}"></span>
    </div>
    <h2>Items</h2>
    <div>
        <div th:each="item : ${items}">
            <div class="card" style="width: 18rem;">
                <div th:each="image : ${item.images[0]}">
                    <img th:src="${image.filename}" class="card-img-top" alt="">
                </div>
                <div class="card-body">
                    <h5 th:text="${item.title}" class="card-title"></h5>
                    <p th:text="${item.lineage}" class="card-text"></p>
                </div>
                <div class="card-body">
                    <a th:href="@{/items/{id}(id=${item.id})}" class="card-link">View Item</a>
                </div>
            </div>
        </div>
        <a th:href="@{/albums/{id}/items/create(id=${album.id})}" class="btn btn-primary">Add an item</a>
    </div>
</main>
<footer th:replace="partials/footer :: footer"/>
<div th:replace="partials/scripts :: assets"></div>
</body>
</html>