<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Owner Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

<div th:fragment="panel-view">
    <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Owner Main View Panel</div>
        <div class="card-body text-primary">
            <h4>Main View</h4>
            <button th:action="">New Album</button>
            <button th:action="">New Item</button>
        </div>
    </div>
</div>


<!--<div class="container-fluid">-->
<!--    <div class="row">-->
<!--        <div class="col-md-12">-->
<!--        <form action="/albums/" class="form-horizontal" method="POST" role="form" id="panel">-->
<!--        </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<!-- OPTIONAL JAVASCRIPT -->
<!-- jQUERY FIRST, THEN POPPER.JS, THEN BOOTSTRAP JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>