<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Album Owner Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

<div th:fragment="panel-album">
    <div class="card border-primary mb-3">
        <div class="card-header">Owner Album Panel</div>
        <div class="card-body text-primary">
            <h5>Album: Album Name</h5>
            <div class="card">
                <form action="">
                    <h5>Invite a User</h5>
                    <label for="email">Email</label>
                    <input type="text" id="email">
                    <label for="firstName">First Name</label>
                    <input type="text" id="firstName">
                    <label for="lastName">Last Name</label>
                    <input type="text" id="lastName">
                    <input type="submit">
                </form>
            </div>


            <div class="card-group">
<!---->
            <div class="card d-inline-block">
                <ul>Current Album Users
<!--these will be href links to take the owner to that album...-->
                    <li>Name / Email <button>remove</button></li>
                    <li>Name / Email <button>remove</button></li>
                    <li>Name / Email <button>remove</button></li>
                    <li>Name / Email <button>remove</button></li>
<!--Create a view to list the email invites sent,
and the name of any registered user with a matching email address.
The owner can select the matching user to enable access to that album
(view and URL still TBD-update: incorporated into dashboard)-->
                </ul>
            </div>
            <div class="card d-inline-block">
                <h5>Invite History</h5>
                <ul>
                    <li>Name / Email</li>
                    <li>Name / Email</li>
                    <li>Name / Email</li>
                    <li>Name / Email</li>
                </ul>
            </div>
<!---->
            </div>


            <div class="border-primary">
                <h5>Search Users to Add</h5>
                <h7>*email req'd and must be exact</h7>
                <form action="">
                    <label for="emailSearch">Email</label>
                    <input type="text" id="emailSearch">
                    <label for="nameSearch">Name</label>
                    <input type="text" id="nameSearch">
                    <input type="submit">
                </form>
                <div>
                    <ul>Click to add to this Album:
                        <li>
                            <a href="">SEARCH RESULTS RETURN AREA</a>
                        </li>
                        <li>
                            <a href="">FirstName LastName Email</a>
                        </li>
                        <li>
                            <a href="">names will be linked</a>
                        </li>
                        <li>
                            <a href="">in order to quickly add them</a>
                        </li>
                    </ul>

                </div>
            </div>

            <button th:action="">New Album</button>
            <button th:action="">New Item</button>
            <button th:action="">Edit Album</button>
            <button th:action="">Delete Album</button>
        </div>
    </div>
</div>

</body>
</html>