<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/96751468e5.js" crossorigin="anonymous"></script>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link th:href="@{/css/fontawesome.css}" rel="stylesheet">
    <link th:href="@{/css/index.css}" rel="stylesheet">
    <link th:href="@{/css/login.css}" rel="stylesheet">
</head>
<body th:style="'background: url(/photos/scratchy-background.jpg) no-repeat center center fixed;'">
<div id="pre-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span>DIVIDE YOUR BELONGINGS WITH US!</span>
            </div>
        </div>
    </div>
</div>
<nav th:replace="partials/navbar :: navbar"/>

<!------ Include the above in your HEAD tag ---------->
<div class="message" sec:authorize="isAuthenticated()">
    <!--    If user is already logged in and visits the login page, include this-->
    <a href="/">Go Back to Home Page</a>
</div>

<!--if there is an error-->
<div class="message" th:if="${param.error}">
    Invalid Username and Password.
</div>
<!--if you're logged out successfully-->
<div class="message" th:if="${param.logout}">
    You have been logged out.
</div>

<div class="login">
    <!--    <div class="login-triangle"></div>-->

    <h2 class="login-header">Log in</h2>

    <form th:action="@{/login}" class="login-container" method="post">
        <p><input type="text" placeholder="Username" id="username" name="username" th:required th:autofocus
                  th:maxlength="60"></p>
        <p><input type="password" placeholder="Password" id="password" name="password" th:required th:maxlength="60">
        </p>
        <p><input type="submit" value="Log in"></p>
    </form>
</div>


<!--===============================================================================-->
<!--this content is only shown to Authenticated users-->
<!--<div sec:authorize="isAuthenticated()">-->
<!--&lt;!&ndash;    If user is already logged in and visits the login page, include this&ndash;&gt;-->
<!--    <a href="/">Go Back to Home Page</a>-->
<!--</div>-->

<!--<div class="container">-->

<!--    <h1>Log In</h1>-->

<!--    &lt;!&ndash;if there is an error&ndash;&gt;-->
<!--    <div th:if="${param.error}">-->
<!--        Invalid Username and Password.-->
<!--    </div>-->
<!--    &lt;!&ndash;if you're logged out successfully&ndash;&gt;-->
<!--    <div th:if="${param.logout}">-->
<!--        You have been logged out.-->
<!--    </div>-->
<!--    &lt;!&ndash;log in form&ndash;&gt;-->
<!--    <form th:action="@{/login}" method="post">-->
<!--        <div class="form-group">-->
<!--            <label for="username">Username</label>-->
<!--            <input id="username" name="username" type="text" class="form-control" th:required th:autofocus th:maxlength="60"/>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="password">Password</label>-->
<!--            <input id="password" name="password" type="password" class="form-control" th:required th:maxlength="60"/>-->
<!--        </div>-->
<!--        <input type="submit" value="Log In"/>-->
<!--    </form>-->
<!--</div>-->
</body>
<footer th:replace="partials/footer :: footer"/>
</html>