<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <div th:insert="partials/header :: header-links ('Profile')" th:remove="tag"></div>
    <link th:href="@{/css/index.css}" rel="stylesheet">
    <link th:href="@{/css/profile.css}" rel="stylesheet">
</head>
<body>
<div id="pre-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span>DIVIDE YOUR BELONGINGS WITH US!</span>
            </div>
        </div>
    </div>
</div>
<div th:replace="partials/navbar :: navbar"></div>

<div class="container message mt-5">
    <!-- This content is only shown to authenticated users.-->
    <div class="row" sec:authorize="isAuthenticated()">
        <div class="welcome-text col-sm-5 col-md-5 mt-4 mr-5">

            <p class="mb-2"><em>Welcome, <span th:text="${user.firstName}"/> <span th:text="${user.lastName}"/>!</em></p>
            <p><strong>Getting Started:</strong></p>
            <p><em>Owners</em> - create an album and add your items. Share with other users by adding them as a guest to the album. View their responses on the interests page.</p>
            <p><em>Guests</em> - view others albums when the owner gives you access. Click on the Interested button when you see something you want!</p>

            <!-- Placeholder: owner summary (dashboard matrix, summaries - items/#interested users, users/#interested-->
            <!-- <div th:replace="partials :: panel-profile"></div>-->
            <!-- <div th:replace="partials/matrix :: matrix"></div>-->
        </div>

        <div class="col-sm-4 col-md-4 mt-4 border">
            <!-- USER PROFILE PHOTO-->
            <div>
                <!-- Display user profile photo, if it has been uploaded -->
                <div th:if="${hasPhoto}">
                    <img th:src="${user.profilePhoto}" class="rounded-circle img-responsive m-2"
                         height="120" width="120" alt="profile-photo">
                </div>
                <!-- Display placeholder image if user profile photo does not exist -->
                <div th:if="${noPhoto}">
                    <img th:src="${placeholder}" class="rounded-circle img-responsive m-2"
                         width="100"/>
                </div>
            </div>
            <!-- USER PROFILE DETAILS-->
            <div class="login">
            <p class="m-2"><strong>Account Details</strong></p>
            <p>Username: <span th:text="${user.username}"/><br>
                Email: <span th:text="${user.email}"/><br>
                Address: <span th:text="${user.address1}"/> <span th:text="${user.address2}"/><br>
                <span th:text="${user.city}"/> <span th:text="${user.state}"/> <span th:text="${user.zip}"/><br>
                Phone: <span th:text="${user.phone}"/></p>
            <a th:href="@{/profile/{id}/edit(id=${user.id})}" class="btn btn-muted btn-sm">
                <i class="fas fa-edit mr-2"> </i>Edit My Account Info</a><br>
            </div>
<!--            Remove delete button until functionality is fixed-->
<!--            <a th:href="@{/profile/delete}" class="btn btn-muted btn-sm">-->
<!--                <i class="fas fa-trash mr-2"> </i>Delete My Account</a><br>-->
        </div>
    </div>
</div>

<div th:replace="partials/scripts :: assets"></div>
</body>
<footer th:replace="partials/footer :: footer"/>
</html>