body {
    font-family: 'Cormorant Garamond', serif;
    transition: all 0.5s;
}
p {
    margin-bottom: 0px;
    font-size: 14px;
    color: #4a4a4a;
    line-height: 24px;
}
a {
    text-decoration: none!important;
}

header h1 {
    opacity: .7;
    font-weight: 400;
    color: #ededed;
    background-color: #262626;
    width: 100%;
}

/*new code*/
#image-ul {
    padding-left: 0px;
    margin-bottom: 0px;
}

.btn-blood {
    background-color: #8b0000;
    text-transform: uppercase;
}

.create-album, .add-btn {
    color: #fff;
}

.cap {
    text-transform: uppercase;
}

/*.jumbotron {*/
/*    background-image: url("../photos/sunset.jpg");*/
/*}*/

.main-button a {
    background-color: #8b0000;
    border-radius: 5px;
    padding: 10px 15px;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.4px;
    text-decoration: none;
    transition: all 0.5s;
}
.main-button a:hover {
    opacity: 0.7;
}
.section-heading {
    margin-top: 80px;
    margin-bottom: 40px;
}
.section-heading .line-dec {
    width: 30px;
    height: 5px;
    background-color: #8b0000;
}
.section-heading h1 {
    font-size: 22px;
    font-weight: 700;
    color: #1e1e1e;
    margin-top: 15px;
}

/* UPPER HEADER STYLE */
#pre-header {
    background-color: #8b0000;
    text-align: center;
}
#pre-header span {
    color: #fff;
    font-size: 15px;
    padding: 10px 0px;
    display: inline-block;
}

/* Header Style */
.navbar .navbar-brand {
    text-align: center;
    width: 100%;
    position: relative;
    /*CONTROLS GREY BAR*/
    padding: 0px 0px;
}
.bg-dark {
    background-color: #696969!important;

}
/*NAVBAR HEIGHT AJUSTMENT*/
#navbarResponsive {
    z-index: 999;
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
}
.navbar-dark .navbar-nav .nav-item {
    margin: 0px 15px;
}
.navbar-dark .navbar-nav .nav-link {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    color: #1e1e1e;
    transition: all 0.5s;
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    color: #8b0000;
}
.navbar:after {
    width: 100%;
    height: 1px;
    background-color: #eee;
    content: '';
    position: absolute;
    left: 0;
    bottom: -52px;
}
.navbar-dark .navbar-toggler-icon {
    background-image: none;
}
.navbar-dark .navbar-toggler {
    border-color: #8b0000;
    background-color: #8b0000;
    height: 50px;
    outline: none;
}
.navbar-dark .navbar-toggler-icon:after {
    content: '\f0c9';
    color: #696969;
    font-size: 22px;
    line-height: 30px;
    font-family: 'FontAwesome';
}
/* Banner Style */
.banner {
    margin-top: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 0px;
    background-position: center center;
}
.banner .caption {
    background-color: rgba(250,250,250,0.9);
    padding: 30px;
    max-width: 450px;
}
.banner .caption h2 {
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 700;
    color: #1e1e1e;
}
.banner .caption .line-dec {
    width: 30px;
    height: 5px;
    background-color: #8b0000;
}
.banner .caption p {
    margin-top: 15px;
    margin-bottom: 20px;
}


/*ALBUM ITEM STYLE*/
.card-img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.featured-items {
    margin-bottom: 70px;
}
.featured-item {
    border-radius: 5px;
    border: 1px solid #eee;
    padding: 20px;
    transition: all 0.5s;
    min-height: 450px;
}
.featured-item:hover {
    opacity: 0.9;
}
.featured-item img {
    width: 100%;
}
.featured-item h4 {
    font-size: 17px;
    font-weight: 700;
    color: #1e1e1e;
    margin-top: 15px;
    transition: all 0.5s;
    text-transform: uppercase;
}
.featured-item:hover h4 {
    color: #8b0000;
}
.featured-item h6 {
    color: #8b0000;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 0px;
}

.pulsate:hover {
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.5;
}
@-webkit-keyframes pulsate {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.5;
    }
}

.click {
    background-color: transparent;
    color: #fff;
    border-radius: 0;
    border: 1px solid #434444;
    width: 100%;
    margin-top: 20px;
}

.click:hover {
    background-color: #8b0000;
    color: #fff;
}

.card {
    grid-column-end: span 4;
    display: flex;
    flex-direction: column;
    background-color: #39393b;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.card:hover {
    transform: translateY(-7px);
}

.click {
    background-color: transparent;
    color: #434444;
    border-radius: 0;
    border: 1px solid #434444;
    width: 100%;
    margin-top: 20px;
}

.add {
    width: 300px;
    margin: 0 auto;
}

.button_action {
    width: 300px;
    margin: 3px auto;
}
/*OWL CAROUSEL*/
/*.owl-theme .owl-dots {*/
/*	text-align: center;*/
/*	margin-top: 30px;*/
/*}*/
/*.owl-theme .owl-dots .owl-dot {*/
/*	outline: none;*/
/*}*/
/*.owl-theme .owl-dots .active span {*/
/*	background-color: #8b0000!important;*/
/*}*/
/*.owl-theme .owl-dots .owl-dot span {*/
/*	background-color: #aaa;*/
/*	width: 8px;*/
/*	height: 8px;*/
/*	display: inline-block;*/
/*	margin: 0px 5px;*/
/*	outline: none;*/
/*}*/

/* Footer Style */
.footer {
    text-align: center;
}
.footer ul {
    padding: 0px;
    margin: 0px;
}
.footer ul li {
    list-style: none;
    display: inline-block;
}
.footer .logo img {
    max-width: 100%;
    margin-top: 60px;
    margin-bottom: 40px;
}
.footer .footer-menu {
    margin-bottom: 40px;
}
.footer .footer-menu ul li {
    margin: 0px 15px;
}
.footer .footer-menu a {
    font-size: 13px;
    color: #7a7a7a;
    text-transform: uppercase;
    transition: all 0.5s;
}
.footer .footer-menu a:hover {
    color: #8b0000;
    text-decoration: none;
}
.footer .social-icons {
    margin-bottom: 60px;
}
.footer .social-icons ul li {
    margin: 0px 10px;
}
.footer .social-icons a {
    width: 32px;
    height: 32px;
    color: #fff;
    background-color: #aaa;
    text-align: center;
    display: inline-block;
    line-height: 33px;
    border-radius: 50%;
    font-size: 13px;
    transition: all 0.5s;
}
.footer .social-icons a:hover {
    background-color: #8b0000;
}

/* Sub Footer Style */
.sub-footer {
    border-top: 1px solid #eee;
    text-align: center;
    margin-top: 160px;
}
.sub-footer p {
    font-size: 12px;
    color: #7a7a7a;
    line-height: 60px;
}
.sub-footer a {
    color: #8b0000;
    text-decoration: none;
}

/* MAIN PAGE STYLE */
.main-page {
    margin-top: 130px;
    margin-bottom: 40px;
}
.main-page .section-heading {
    margin-top: 0px;
    margin-bottom: 0px;
}
.main-page #filters {
    margin-top: 15px;
    text-align: right;
}
.featured .featured-item {
    margin-bottom: 30px;
    text-decoration: none;
}
.featured .featured-item h4 {
    transition: all 0.5s;
}
.featured .featured-item:hover h4 {
    color: #8b0000;
}
#filter button {
    outline: none;
}
#filter .btn-primary.focus,
.btn-primary:focus {
    color: #8b0000!important;
    box-shadow: none!important;
}
#filters .btn-primary {
    color: #1e1e1e;
    border: none;
    font-size: 15px;
    font-weight: 700;
    background-color: transparent;
}
/* Isotope Transitions
------------------------------- */
/*.isotope,*/
/*.isotope .item {*/
/*  -webkit-transition-duration: 0.8s;*/
/*     -moz-transition-duration: 0.8s;*/
/*      -ms-transition-duration: 0.8s;*/
/*       -o-transition-duration: 0.8s;*/
/*          transition-duration: 0.8s;*/
/*}*/

/*.isotope {*/
/*  -webkit-transition-property: height, width;*/
/*     -moz-transition-property: height, width;*/
/*      -ms-transition-property: height, width;*/
/*       -o-transition-property: height, width;*/
/*          transition-property: height, width;*/
/*}*/

/*.isotope .item {*/
/*  -webkit-transition-property: -webkit-transform, opacity;*/
/*     -moz-transition-property:    -moz-transform, opacity;*/
/*      -ms-transition-property:     -ms-transform, opacity;*/
/*       -o-transition-property:         top, left, opacity;*/
/*          transition-property:         transform, opacity;*/
/*}*/

/*NUMBER ITEM*/
.page-nav ul {
    text-align: center;
    border-top: 1px solid #eee;
    padding: 30px  0px 0px 0px;
    margin: 0px 0px 80px 0px;
}
.page-nav ul li {
    display: inline-block;
}
.page-nav ul li a {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    border: 1px solid #eee;
    border-radius: 5px;
    font-weight: 700;
    color: #1e1e1e;
    font-size: 15px;
    text-decoration: none;
    transition: all 0.5s;
}
.page-nav ul li a:hover,
.page-nav ul li.current-page a {
    background-color: #8b0000;
    border-color: #8b0000;
    color: #fff;
}

/* SINGLE ITEM STYLE */
.single-item .product-slider {
    padding: 20px;
    border: 1px solid #eee!important;
    border-radius: 5px;
}

.single-item .right-content h4 {
    font-size: 17px;
    font-weight: 700;
    margin-top: 0px;
}
.single-item .right-content h6 {
    color: #8b0000;
    font-size: 17px;
    font-weight: 700;
    margin-top: 10px;
}
.single-item .right-content p {
    margin-top: 20px;
    margin-bottom: 30px;
}
.single-item .right-content span {
    font-size: 14px;
    color: #8b0000;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 15px;
}
.single-item .right-content label {
    font-size: 14px;
    color: #4a4a4a;
}
.single-item .right-content .quantity-text {
    margin-left: 10px;
    width: 44px;
    height: 44px;
    line-height: 42px;
    font-size: 14px;
    font-weight: 700;
    color: #4a4a4a;
    display: inline-block;
    text-align: center;
    outline: none;
    border: 1px solid #eee;
}
.single-item .right-content .button {
    margin-left: 15px;
    cursor: pointer;
    background-color: #8b0000;
    outline: none;
    border-radius: 5px;
    padding: 10px 15px;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.4px;
    text-decoration: none;
    transition: all 0.5s;
    box-shadow: none;
    border: none;
}
.single-item .right-content .down-content span {
    margin-bottom: 0px;
    display: inline-block;
    margin-left: 8px;
    color: #aaa;
}
.single-item .right-content .down-content span a {
    color: #aaa;
    font-weight: 400;
    margin-left: 4px;
    transition: all 0.5s;
}
.single-item .right-content .down-content span a:hover {
    color: #8b0000;
}
.single-item .right-content .down-content span a:hover i {
    background-color: #8b0000;
}
.single-item .right-content .down-content span a i {
    transition: all 0.5s;
    background-color: #aaa;
    width: 26px;
    height: 26px;
    display: inline-block;
    text-align: center;
    line-height: 26px;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    margin-right: 5px;
}
.single-item .right-content .down-content .categories {
    border-top: 1px solid #eee;
    margin-top: 30px;
    padding: 10px 0px;
}
.single-item .right-content .down-content .share {
    border-top: 1px solid #eee;
    padding: 10px 0px;
}
.single-item .right-content .down-content h6 {
    font-size: 14px;
    color: #4a4a4a;
    font-weight: 400;
}

.like-btn {
    margin-bottom: 5px;
}

.quote {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 100px;
    color: #8b0000;
    text-align: center;
    text-transform: uppercase;
    word-wrap: break-word;
}

/* About Us Style */
.about-page {
    margin-top: 50px;
    margin-bottom: 80px;
}
.about-page .right-content h4 {
    font-size: 17px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 20px;
}
.about-page .left-image img {
    max-width: 100%;
}
.about-page .right-content span {
    display: inline-block;
    margin-left: 8px;
}
.about-page .right-content span a i {
    transition: all 0.5s;
    background-color: #aaa;
    width: 26px;
    height: 26px;
    display: inline-block;
    text-align: center;
    line-height: 26px;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    margin-right: 5px;
}
.about-page .right-content .share {
    margin-top: 20px;
    border-top: 1px solid #eee;
    padding: 15px 0px;
}
.about-page .right-content h6 {
    font-size: 14px;
    color: #4a4a4a;
    font-weight: 400;
}
.about-page .right-content span a:hover i {
    background-color: #8b0000;
}

/* Responsive Style */
@media (max-width: 991px) {

    .banner {
        border-top: none;
        margin-top: 0px;
    }
    .navbar .navbar-brand {
        width: auto;
    }
    .navbar:after {
        display: none;
    }
    #navbarResponsive {
        z-index: 99999;
        position: absolute;
        top: 96px;
        width: 100%;
        text-align: center;
        background-color: rgba(250,250,250,0.95);
        box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    }
    .navbar-dark .navbar-nav .nav-item {
        border-bottom: 1px solid #eee;
    }
    .navbar-dark .navbar-nav .nav-item:last-child {
        border-bottom: none;
    }
    .navbar-dark .navbar-nav .nav-link {
        padding: 15px 0px;
    }
    .main-page #filters {
        text-align: right;
    }
    .single-item .right-content {
        margin-top: 30px;
    }
    .about-page .right-content {
        margin-top: 30px;
    }
    .contact-page .right-content {
        margin-top: 30px;
    }
    .contact-page .right-content .col-md-6,
    .contact-page .right-content .col-md-12 {
        padding: 0px;
    }
    .main-page {
        margin-top: 80px;
    }

    .quote {
        margin-top: 80px;
    }
    .about-page,
    .contact-page {
        margin-top: 0px;
    }

}

@media (max-width: 767px) {

    .subscribe-form .main-content form input.button {
        margin-top: 20px;
    }
    .main-page #filters {
        margin-top: 15px;
        text-align: left;
    }

    .quote {
        margin-top: 20px;
    }

}


