/*Images in the carousel*/
img {
    max-width: 100%;
    height: 100vh;
}

/*The word WILLing in the carousel-caption*/
.brand-blood {
    color: #8b0000;
}

/*Each carousel div*/
.carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

/*All of the animated text in the carousel*/
.carousel-caption{
    bottom: 220px;
}
/*We are WILLing*/
.carousel-caption h1 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    font-family: 'Josefin Sans', sans-serif;
}

/*Carousel controls (the 3 bars at bottom)*/
span{
    color: grey;
    font-weight: bold;
}

/*Get Started animated button*/
.carousel-caption h1 p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
    font-family: 'Open Sans', sans-serif;
}

/*Get Started button link*/
.carousel-caption a {
    text-transform: uppercase;
    background: #262626;
    padding: 10px 30px;
    display: inline-block;
    color: #fff;
    margin-top: 15px;
    border-radius: 15px;
}


/*@media (min-width: 800px) and (max-width: 850px) {*/
/*    .navbar:not(.top-nav-collapse) {*/
/*        background: !important;*/
/*    }*/
/*}*/
/*.view,body,html{height:100%}*/
/*.navbar{background-color:rgba(0,0,0,.2)}*/
/*.page-footer,.top-nav-collapse{background-color:#1C2331}*/
/*@media only screen and (max-width:768px){.navbar{background-color:#1C2331}}*/



