<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head th:replace="partials/head :: header-links (Profile)">
<body>
<div th:replace="partials/navbar :: navbar"></div>

<!--Forcing some space since text currently overlaps the navbar items-->
<br><br><br>

<div class="container">
    <!-- This content is only shown to authenticated users.-->
    <div class="row" sec:authorize="isAuthenticated()">
        <div class="col-sm-8 col-md-8">
            Placeholder for owner summary (dashboard matrix, summaries - items/#interested users, users/#interested items)
        </div>

        <div class="col-sm-4 col-md-4">

            <!-- Want to use placeholder photo uploaded to my filestack account as the default -->
            <!-- This works hardcoded with a placeholder photo but will break w/new filestack account -->
<!--            <div><img th:src="@{https://cdn.filestackcontent.com/lxecmZylQJkbG0ZabcDA}" alt="profile-photo" class="img-responsive mb-3"></div>-->

            <!-- This works to display the static placeholder photo-->
            <div>
                <img src="../static/photos/placeholder.jpeg" width="100" class="rounded-circle img-responsive m-2"
                     th:src="@{photos/placeholder.jpeg}"/>
            </div>

            <!-- Tried to use Thymeleaf conditionals to use placeholder if photo is null... not working-->
<!--            <img th:if='${user.profilePhoto != null} ? ${user.profilePhoto} : "@{photos/placeholder.jpeg}"' width="100"/>-->

            <!-- This works if the placeholder image cdn is in the DB -->
            <!-- But it does not work if it's null in the DB and the cdn is passed via controller logic-->
<!--            <div><img th:src="${user.profilePhoto}" class="rounded-circle img-responsive m-2" height="120" width="120" alt="profile-photo"></div>-->

            <p>Welcome, <span th:text="${user.firstName}"/>
                <span th:text="${user.lastName}"/>!</p>
            <p>Username: <span th:text="${user.username}"/><br>
            Email: <span th:text="${user.email}"/><br>
            Address: <span th:text="${user.address1}"/> <span th:text="${user.address2}"/><br>
                <span th:text="${user.city}"/>,
                <span th:text="${user.state}"/>  <span th:text="${user.zip}"/><br>
            Phone: <span th:text="${user.phone}"/></p>
            <a th:href="@{/profile/{id}/edit(id=${user.id})}" class="btn btn-muted btn-sm"><i class="fas fa-edit"> </i>Edit Account Info</a><br>
            <a th:href="@{/profile/{id}/delete(id=${user.id})}" class="btn btn-muted btn-sm"><i class="fas fa-trash"> </i>Delete Account</a>
        </div>
    </div>
</div>

<div th:replace="partials/scripts :: assets"></div>
</body>
<footer th:replace="partials/footer :: footer"/>
</html>