<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<!--<head th:replace="partials/head :: header-links (pageTitle)"></head>-->
<head>
<!--    <meta charset="UTF-8">-->
<!--    <title>Item Assignment Page</title>-->

<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}">-->
<!--    <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js}"></script>-->
<!--    <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js}"></script>-->
<!--    <script th:src="@{https://kit.fontawesome.com/8d58347b96.js}" crossorigin="anonymous"></script>-->
<!--    <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/96751468e5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
    <title>Item Awarding Page</title>

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--    CSS FILES-->
    <link th:href="@{/css/fontawesome.css}" rel="stylesheet">
    <link th:href="@{/css/index.css}" rel="stylesheet">
    <link th:href="@{/css/owl.css}" rel="stylesheet">
<style>
    .card {
        background-color: white !important;
    }

    #guestUser {
        color: black !important;
    }

    .btn {
        color: white;
    }
</style>
</head>
<body>

<div id="pre-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span>DIVIDE YOUR BELONGINGS WITH US!</span>
            </div>
        </div>
    </div>
</div>
<div th:replace="partials/navbar :: navbar"></div>

<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">-->
<!--    <div class="container">-->
<!--        <a class="navbar-brand" href="#"><img src="assets/images/.png" alt=""></a>-->
<!--        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->
<!--        <div class="collapse navbar-collapse" id="navbarResponsive">-->
<!--            <ul class="navbar-nav ml-auto">-->
<!--                <th:block sec:authorize="isAuthenticated()">-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" th:href="@{albums}">Albums</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" th:href="@{view}">Interests</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" th:href="@{profile}">Profile</a>-->
<!--                    </li>-->
<!--                </th:block>-->
<!--                &lt;!&ndash;                Show these items always&ndash;&gt;-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" th:href="@{devs}">Developers</a>-->
<!--                </li>-->
<!--                &lt;!&ndash;                Show these items when logged out &ndash;&gt;-->
<!--                <th:block sec:authorize="!isAuthenticated()">-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" th:href="@{/login}">Login</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" th:href="@{/sign-up}">Sign up</a>-->
<!--                    </li>-->
<!--                </th:block>-->
<!--                &lt;!&ndash;IF AUTHENTICATED SHOW THESE&ndash;&gt;-->
<!--                <th:block sec:authorize="isAuthenticated()">-->
<!--                    <li class="nav-item text-center">-->
<!--                        <form  th:action="@{/logout}" th:method="post">-->
<!--                            <button class="nav-link btn btn-muted">Logout</button>-->
<!--                        </form>-->
<!--                    </li>-->
<!--                </th:block>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->

<!--========================END NAV============================-->
    <br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div>
                <div id="awardSection" class="container">
                    <div class="text-center">
                        <h2>Award Items To Your Guests</h2>
                    </div>
                        <div>
                            <h3 class="text-left">Select Guest by Username:</h3>
                            <div>
                                <button type="button" class="btn btn-blood text-center" data-toggle="collapse" data-target="#guestUser">Select</button>
                                <div id="guestUser" class="collapse">
                                    <div th:each="user : ${users}" class="row">
                                        <input type="radio" name="users" th:value="${user.username}" th:text="${user.username}">
                                    </div>
                                    <button type="button" class="btn btn-blood text-center" id="awardButton">Award to Guest</button>
                                    <h7>* Select ONLY one item before awarding</h7>
                                </div>

                            </div>

                        </div>
                        <div>

                        </div>

                </div>
                <br>
            <h3 class="text-center">Your Albums</h3>
                <div id="albumSection" class="row">
                    <th:block th:each="album : ${albums}">
                        <div class="card border" style="width: 12rem; min-height: 10rem">

                            <div class="card-body">

                                <div th:text="${album.title}" class="card-header"></div>
                                <div th:each="item : ${album.getItems()}" class="card">
                                    <!--                                    <p th:text="${item.title}">  </p>-->
                                    <input type="radio" name="items" th:value="${item.title}" th:text="${item.title}">
                                </div>
                            </div>
                        </div>
                    </th:block>

                    <span>

                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <h3>Current Interests</h3>

<!--                <div class="text-primary text-center">Current Interests</div>-->
                <div th:each="interest : ${interests}">
                    <!--        <p th:each="users : ${}"></p>-->
                    <span>
                    <h5>Username:</h5><h5 th:text="${interest.interestedUser.username}"></h5>
                    <h7> - </h7><h7 th:text="${interest.item.title}"></h7></span>
                    <br>
                </div>
                <br>
<!--                <div class="text-primary text-center">Interested Items</div>-->
                <h3>Interested Items</h3>
                    <h5 th:each="interest : ${interests}">
                        <h7 th:text="${interest.item.title}">
<!--                            <th:block th:each="album : ${albums}">-->
<!--                                                                    <th:block th:each="item : ${album.items}">-->
<!--                                                                        <th:block th:each="user :${item.interests}">-->
<!--                                                                            <p th:text="${user.username}" class="card"></p>-->
<!--                            </th:block>-->
                        </h7>
                    </h5>
            </div>
        </div>
    </div>
</div>



<!--========================FIRST DRAFT============================-->
<!--<div class="card border-primary">-->
<!--<div class="card-header">Owner Item Assignment</div>-->
<!--    <div class="card-body">-->
<!--        <section sec:authorize="isAuthenticated()">-->


<!--        <div class="row">-->


<!--            <div class="column">-->
<!--                <div class="card" style="width: 10rem; min-height: 18rem">-->
<!--                    <div class="card-header">Items with Interests</div>-->
<!--    &lt;!&ndash;                <th:block th:each="item : ${item}" th:text="${item}">&ndash;&gt;-->
<!--    &lt;!&ndash;                    <p th:each="interest : ${interest}" th:text="${interest}"></p>&ndash;&gt;-->
<!--    &lt;!&ndash;                </th:block>&ndash;&gt;-->
<!--                        <div class="card">-->
<!--                            <div th:each="interest : ${interests}">-->
<!--                                &lt;!&ndash;        <p th:each="users : ${}"></p>&ndash;&gt;-->
<!--                                <p th:text="${interest.item.title}" class="card">-->
<!--                                    <th:block th:each="album : ${albums}">-->
<!--&lt;!&ndash;                                        <th:block th:each="item : ${album.items}">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <th:block th:each="user :${item.interests}">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <p th:text="${user.username}" class="card"></p>&ndash;&gt;-->
<!--                                    </th:block>-->

<!--                                </p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                </div>-->
<!--                <div class="card" style="width: 10rem; min-height: 18rem">-->
<!--                    <div class="card-header">Users Who Have Indicated Interest</div>-->
<!--                    <div th:each="interest : ${interests}">-->
<!--                        &lt;!&ndash;        <p th:each="users : ${}"></p>&ndash;&gt;-->
<!--                        <p th:text="${interest.interestedUser.username}"></p>-->
<!--                        <p th:text="${interest.item.title}"></p>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->

<!--&lt;!&ndash;            USERS LIST &ndash;&gt;-->
<!--        <div class="column">-->
<!--            <div class="card" style="width: 15rem; min-height: 20rem">-->
<!--                <div class="card-header">Users List</div>-->
<!--&lt;!&ndash;                <th:block th:each="user : ${users}">&ndash;&gt;-->
<!--&lt;!&ndash;                    <p th:text="${user.username}" class="card"></p>&ndash;&gt;-->
<!--&lt;!&ndash;                </th:block>&ndash;&gt;-->
<!--                <div th:each="user : ${users}" class="card">-->
<!--                    <input type="radio" name="users" th:value="${user.username}" th:text="${user.username}">-->
<!--                </div>-->
<!--                <p class="card-footer text-muted">-->
<!--                    HINT:-->
<!--                    To give a User an Item,-->
<!--                    Select one User and one Item.-->
<!--                    Then click 'Assign Item'.-->
<!--                </p>-->
<!--            </div>-->
<!--            <br>-->
<!--            <button type="submit" class="btn-primary">Assign Item</button>-->
<!--        </div>-->

<!--&lt;!&ndash;            END USERS LIST&ndash;&gt;-->

<!--&lt;!&ndash;            ALBUMS GRID&ndash;&gt;-->

<!--            <th:block th:each="album : ${albums}">-->
<!--                        <div class="card border-primary" style="width: 12rem; max-height: 15rem">-->

<!--                            <div class="card-body">-->

<!--                            <div th:text="${album.title}" class="card-header"></div>-->
<!--                                <div th:each="item : ${album.getItems()}" class="card">-->
<!--&lt;!&ndash;                                    <p th:text="${item.title}">  </p>&ndash;&gt;-->
<!--                                    <input type="radio" name="items" th:value="${item.title}" th:text="${item.title}">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--            </th:block>-->

<!--&lt;!&ndash;            END ALBUMS GRID&ndash;&gt;-->


<!--        </div>-->

<!--        </section>-->
<!--    </div>-->
<!--</div>-->


<!--&lt;!&ndash;    <div th:each="item : ${items}">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="card" style="width: 18rem;">&ndash;&gt;-->
<!--&lt;!&ndash;            <div th:each="image : ${item.images[0]}">&ndash;&gt;-->
<!--&lt;!&ndash;                <img th:src="${image.filename}" class="card-img-top" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="card-body">&ndash;&gt;-->
<!--&lt;!&ndash;                <h5 th:text="${item.title}" class="card-title"></h5>&ndash;&gt;-->
<!--&lt;!&ndash;                <p th:text="${item.lineage}" class="card-text"></p>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="card-body">&ndash;&gt;-->
<!--&lt;!&ndash;                <a th:href="@{/items/{id}(id=${item.id})}" class="card-link">View Item</a>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->


    <div th:replace="partials/scripts :: assets"></div>
    <!-- OPTIONAL JAVASCRIPT -->
    <!-- jQUERY FIRST, THEN POPPER.JS, THEN BOOTSTRAP JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


</body>
</html>