<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: header-links (Item)"/>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<h1>hello yall</h1>
<div>
    Album: <span th:text="${item.albumForItems.title}"></span>
</div>
<div>
    Album description: <span th:text="${item.albumForItems.description}"></span>
</div>
<div>
    Deadline: <span th:text="${item.albumForItems.deadline}"></span>
</div>
<div>
    Item: <span th:text="${item.title}"></span>
</div>
<div>
    Description: <span th:text="${item.description}"></span>
</div>

<div th:each="photo : ${photos}">
    <img th:src="${photo.filename}" alt="" class="mb-3">
    <br>
</div>
<br>
<div th:each="video : ${videos}">
    <video controls>
        <source th:src="${video.filename}">
    </video>
    <br>
</div>
<!--   userId below is hardcoded   -->
<div class="btn-group">
    <form th:action="@{/items/{itemsId}/user/1/1(itemsId=${item.id})}" method="post">
        <button class="btn btn-secondary">I kind of want it</button>
    </form>
    <form th:action="@{/items/{itemsId}/user/1/2(itemsId=${item.id})}" method="post">
        <button class="btn btn-secondary">I want it</button>
    </form>
    <form th:action="@{/items/{itemsId}/user/1/3(itemsId=${item.id})}" method="post">
        <button class="btn btn-secondary">I REALLY want it</button>
    </form>
</div>
<br><br>
<a th:href="@{/items/{id}/edit(id=${item.id})}" class="btn btn-secondary">Edit Item</a>
<form th:action="@{/albums/{albumId}/items/{itemId}/delete(albumId=${item.albumForItems.id},itemId=${item.id})}" method="post">
    <button class="btn btn-secondary">Delete Item</button>
</form>
<div th:replace="partials/scripts :: assets"></div>
</body>
</html>